{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<div class="video-container">
  <div class="video-overlay"></div>
  <div class="video-container__center">
    <div class="video-container__center__content">
      <h2 class="video-container__center__content__title">Showreel</h2>
      <p class="video-container__center__content__text">Watch my latest work</p>
<iframe width="560" height="315" src="https://drive.google.com/file/d/1jDdwuUqW6rVGub8fCXesx-baz1DYqY29/preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
width: 50%;
margin: 0 auto;  
    </div>
  </div>  
</div>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-home-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ item.url }}">view project</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}
